<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category name="search"
            id="org.gavinFitzgerald.synonym.plugin.ui">
      </category>
   </extension>
   
   <extension point="org.eclipse.search.searchPages"> 
      <page 
         id="org.gavinFitzgerald.synonym.plugin.page.SynonymSearchPage" 
         label="Synonym Search"
         sizeHint="250,160"
         tabPosition="1" 
         extensions="*:1" 
         showScopeSection="true"
         canSearchEnclosingProjects="true"
         icon="resources/images/search_logo.gif"
         class="org.gavinFitzgerald.synonym.plugin.page.SynonymSearchPage">
      </page> 
   </extension> 

</plugin>
